@model  modnaKompanija_Web.Controllers.WishlistController.IndexVM
<div id="div3">
    <div class="row products">



        @foreach (PEPmodnaKompanija_API.Models.FavouiriteProizvod x in Model.stavke)
        {



            foreach (PEPmodnaKompanija_API.Models.Proizvodi k in Model.proizvodi)
            {
                if (k.ProizvodID == x.ProizvodID)
                {



                    <div class="col-md-3 col-sm-4">
                        <div class="product">
                            @if (k.Slika != null)
                            {
                                string imageBase64 = Convert.ToBase64String(@x.Proizvodi.Slika);
                                string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                                <div class="flip-container">



                                    <div class="flipper">
                                        <div class="front">
                                            <a href="@Url.Action("Index", "DetaljiProizvoda", new { proizvodID = k.ProizvodID })">
                                                <img src="@imageSrc" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href="@Url.Action("Index", "DetaljiProizvoda", new { proizvodID = k.ProizvodID })">
                                                <img src="@imageSrc" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <a href="detail.html" class="invisible">
                                    <img src="@imageSrc" alt="" class="img-responsive">
                                </a>

                                <div class="text">
                                    <h3><a href="@Url.Action("Index", "DetaljiProizvoda", new { proizvodID = k.ProizvodID })">@k.Naziv</a></h3>
                                    <p class="price">@k.Cijena KM</p>
                                    <p class="buttons">
                                        <a href="@Url.Action("Index", "DetaljiProizvoda", new { proizvodID = k.ProizvodID })" class="btn btn-primary">Detalji</a>
                                         @*<button class="btn btn-default">   
                                             @Ajax.ActionLink(" obrisii", "Obrisi", "Wishlist", new { proizvodID = x.ProizvodID }, new AjaxOptions { UpdateTargetId = "div" }, new { @class = "fa fa-trash-o" })
                                             @Ajax.ActionLink(" ", "VratiCount", "Wishlist", new AjaxOptions { UpdateTargetId = "div1" })

                                     
                                        </button>*@

                                        


                          
                                            <a id="klik" class="btn btn-default" href="#" onclick = "updateDivs(@x.ProizvodID); return false;"><i class ="fa fa-trash-o"></i>Obriši</a>
                               
                                            <script type="text/javascript">
                                                function updateDivs(data) {
                                                    $.ajax({
                                                        url: '/Wishlist/Obrisi',
                                                        data: { proizvodID:data}
                                                    }).done(function () {
                                                        $("#div1").load("@Url.Action("VratiCount", "Wishlist")");
                                                        $("#div3").load("@Url.Action("IndexW", "Wishlist")");
                                                       
                                                    });
                                                  
                                                    @*//$("#div3").load ("@Url.Action("Obrisi", "Wishlist",new { proizvodID = x.ProizvodID})");
                                                    $("#div1").load("@Url.Action("VratiCount", "Wishlist")");*@
                                                };
                                            </script>





</p>
                                </div>
                                                <!-- /.text -->
                            }
                        </div>

                        <!-- /.product -->
                    </div>


                }
            }
        }










    </div>
</div>